#first{
    width: 100%;
    height: 304px;
    position: relative;
}
#first>img{
    width: 100%;
    height: 304px;
}
#first>div{
    width: 1000px;
    position: absolute;
    top: 50px;
    right: -250px;
    transform: translate(-50%);
    overflow: hidden;
    animation:name 2s linear;
}
@keyframes name{
	0%{
		top: 0;
		right: -500px;
	}
	20%{
		right: -450px;
		top: 10px;
	}
	40%{
		right: -400px;
		top: 20px;
	}
	60%{
		right: -350px;
		top: 30px;
	}
	80%{
		right: -300px;
		top: 40px;
	}
	100%{
		right: -250px;
		top: 50px;
	}
}
#first>div>ul{
    float: right;
    right: 0px;
}
#first>div>ul>li{
    margin-bottom: 26px;
    color: white;
}
#first>div>ul>li:nth-child(1){
    font-size: 30px;
}
#first>div>ul>li:nth-child(2){
    overflow: hidden;
}
#first>div>ul>li:nth-child(2)>span{
    float: right;
    font-size: 14px;
    padding: 10px;
    background-color: #f7d29b;
    margin-right: 14px;
}
#first>div>ul>li:nth-child(3){
    font-size: 17px;
    text-align: right;
}
#first>div>ul>li:nth-child(4){
    text-align: right;
}
#first>div>ul>li:nth-child(4)>button{
    width: 244px;
    height: 48px;
    border: none;
    outline: none;
    font-size: 24px;
    color: white;
    background-color: red;
}

#center{
	width: 1000px;
	height: 380px;
	margin: 0 auto;
	margin-top: 26px;
	position: relative;
}
#center>span{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 20px;
}
#center>img:nth-child(2){
	position: absolute;
	left: -62px;
	top: 150px;
}
#center>img:nth-child(3){
	position: absolute;
	right: -62px;
	top: 150px;
}
#center>div{
	width: 1000px;
	height: 310px;
	position: absolute;
	overflow: hidden;
}
#center>div>ul{
	position: absolute;
	overflow: hidden;
}
#center>div>ul>li{
	float: left;
}
#center>div>ul>li>ul{
	overflow: hidden;
	/*width: 3071px;*/
}
#center>div>ul>li>ul>li{
	float: left;
	width: 219px;
	margin-right: 36px;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	position: relative;
	text-align: center;
}
#center>div>ul>li>ul>li:nth-child(4){
	margin-right: 10px;
}
#center>div>ul>li>ul>li>span:first-child{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	display: inline-block;
	padding: 5px 8px;
	background: red;
	color: white;
	font-size: 14px;
	border-radius: 0px 5px;
}
#center>div>ul>li>ul>li>img{
	width: 100%;
	margin-bottom: 14px;
}
#center>div>ul>li>ul>li>p:nth-child(3){
	font-size: 17px;
	line-height: 26px;
}
#center>div>ul>li>ul>li>span:nth-child(4),li>span:nth-child(5){
	display: inline-block;
	width: 48px;
	height: 23px;
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	margin-bottom: 14px;
}
#center>div>ul>li>ul>li>span:nth-child(4){
	margin-right: 14px;
}
#center>div>ul>li>ul>li>p>.one{
	color: red;
}
#center>div>ul>li>ul>li>p:nth-child(7){
	color: red;
	margin-top: 10px;
	margin-bottom: 18px;
}
#center>div>ul>li>ul>li:nth-child(2)>span{
	background: #f8f0c9;
	color: #bdac80;
}
#center>div>ul>li>ul>li:nth-child(2)>span:nth-child(4){
	border-color: green;
	color: green;
	background: inherit;
}
#center>div>ul>li>ul>li:nth-child(2)>span:nth-child(5){
	border-color: green;
	color: green;
	background: inherit;
}
#center>div>ul>li>ul>li:nth-child(2)>p:nth-child(7){
	color: green;
}


/* 登录 */
form {
	position: fixed;
	z-index: 10;
	top: 200px;
	left: 50%;
	transform: translate(-50%);
	background-color: #fff;
	width: 690px;
	padding-bottom: 30px; 
  }
form>.jig {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 18px;
  }
 .tel_l,.pass {
	  border-radius: 6px;
  }
 form>.tel_l {
	margin-left: 30px;
	margin-top: 20px;
	border: 1px solid #ccc;
	width: 363px;
  }
  form>.tel_l #poh {
	width: 300px;
	margin: 14px 30px 10px;
	border: none;
	outline: none;
  }
  form>.pass {
	margin-left: 30px;
	margin-top: 20px;
	border: 1px solid #ccc;
	width: 363px;
  }
 form>.pass #pwd {
	width: 300px;
	margin: 14px 30px 10px;
	border: none;
	outline: none;
  }
  form>.bmit {
	margin-top: 20px;
	margin-left: 30px;
	overflow: hidden;
	width: 363px;
  }
  form> .bmit>input[type=checkbox] {
	margin-top: 14px;
  }
  form .log {
	float: right;
	background-color: red;
	color: #fff;
	width: 150px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 20px 20px 20px 20px;
  }
  form> p {
	margin-top: 20px;
	margin-left: 30px;
	width: 363px;
	overflow: hidden;
  }
  form> p > .papa {
	float: right;
  }
  form> p > a {
	color: #000;
	font-size: 14px;
  }
  form>.other_l {
	position: absolute;
	top: 30px;
	right: 50px;
	border-left: 1px solid #ccc;
	padding-left: 20px;
  }
  form>.other_l > p {
	margin-left: 20px;
	font-size: 16px;
  }
  form>.other_l > .x {
	cursor: pointer;
	font-size: 16px;
	position: absolute;
	top: -10px;
	right: -20px;
  }

/* 内容 */
.line {
	width: 100%;
}
.line>div {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden; 
	height: 68px;
}
.line>div>span:first-child {
	font-size: 20px;
	font-weight: bold;
	color: #3A3D35;
	float: left;
	padding-top: 24px;
}
.line>div>span:last-child {
	font-size: 14px; 
	color: #FE5443;
	float: right; 
	padding-top: 26px;
	cursor: pointer;
}
.line>ul {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.line>ul>li {
	margin-bottom: 25px;
	margin-right: 36px;
	float: left;
	width: 220px;
	height: 234px;
	border: 1px solid #eaeaea;
	border-radius: 8px;
	background: white;
}
.good_guid li>a>img,.good_report li>a>img {
	width: 222px;
}
.good_guid li>p:nth-of-type(1),
.good_report li>p:nth-of-type(1) {
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
	color: #433F3E; 
	height: 40px;
}
.good_guid li>p:nth-of-type(2),
.good_report li>p:nth-of-type(2) {
	margin-top: 20px; 
	font-size: 14px; 
	margin-left: 160px;
}

/* 报告精选 */
.good_report{ 
	background: #f7f7f7; 
}
 
/* 发现酷玩 */
.good_play { 
	background: #f7f7f7;
	/* padding-bottom: 54px; */
}

/* .good_play>ul {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
} */

/* .good_play>ul>li {
	margin-top: 25px;
	margin-right: 36px;
	float: left;
	width: 223px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	background: white;
} */

.good_play>ul>li>img {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}

.good_play>ul>li>p {
	padding-left: 10px;
	font-size: 12px;
}

.good_play>ul>li>p:nth-child(2) {
	margin-bottom: 9px;
}

.good_play>ul>li>p:nth-child(3) {
	color: #b0aca3;
	margin-bottom: 26px;
}

.good_play>ul>li>p:nth-child(4) {
	margin-bottom: 20px;
}

.good_play>ul>li>p:nth-child(4)>span:nth-child(1) {
	color: red;
	margin-right: 102px;
}

.good_play>ul>li>p:nth-child(4)>span:nth-child(3) {
	font-size: 9px;
	color: #979390;
	vertical-align: middle;
}

.good_play>ul>li>p:nth-child(4)>img:nth-child(2) {
	vertical-align: middle;
}

.good_play>ul>li>p:nth-child(4)>span:nth-child(5) {
	font-size: 9px;
	color: #979390;
	vertical-align: middle;
}

.good_play>ul>li>p:nth-child(4)>img:nth-child(4) {
	vertical-align: middle;
}

.good_play>.two_1 {
	width: 126px; 
	text-align: center;
	margin: 0 auto;
	margin-top: 36px;
	color: red;
}

.good_play>.two_1>img {
	margin-top: -5px; 
	margin-right: 6px;
}
.good_play>.two_1>span {
	margin-top: -24px;
	font-size: 16px !important;
}