.box {
    border:#D6D6D6 solid 1px;
    width: 1000px;
    height: 784px; 
    margin: 24px auto 34px;
} 

.title {
    margin-top: 24px;
    height: 26px;
    font-size: 18px;
    overflow: hidden;
}
.title>div {
    float: left;
    height: 100%; 
}
.title>div:first-child {  
    margin-right: 18px;
    width: 6px;
    background-color: #F65543;
    height: 100%;
} 


/* 主要内容 */
.main {
    width: 400px;
    height: 514px;
    margin: 74px auto 0;
    overflow: hidden;
}
input {
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 28px;
    font-size: 16px; 
    border-radius: 10px;
    outline: none;
    border: #EDEDED solid 1px;
    background-color: #F7F7F7;
}
input::-webkit-input-placeholder {
    color: #A7A7A7; 
}
.tel,.user,.pwd,.repwd,.subm{
    width: 100%;
} 
.check_img,.check_num {
    width: 246px;
    margin-right: 20px;
}
.btn {
    width: 129px;
    color: #f1f1f1;
    background-color:  #c9c8c7;
}
.subm {
    background-color: #FE5341;
    color: white;
    font-size: 20px;
}
.main>input[type=text],.main>input[type=password] {
    text-indent: 10px;
}
.btn,.subm {
    cursor: pointer;
}